#store-screen {
  position: relative;
  .screen-navigation {
    border-bottom: 1px solid #484848;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 25px;
    .applied-item__title {
      position: relative;
      cursor: pointer;
      padding: 3px 15px;
      margin-right: 5px;
      h2 {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 500;
      }
      &.active {
        position: relative;
        &:after {
          content: '';
          width: 100%;
          height: 2px;
          background: white;
          position: absolute;
          left: 0;
          bottom: 0;
          border-radius: 20px;
        }
      }
    }
  }

  .coming-soon-content {
    padding: 20px;
    .title {
      font-weight: 500;
      font-size: 24px;
      line-height: 42px;
    }
  }

  .store-item-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }

  article#prize {
    position: relative;
    height: unset !important;
    padding-top: 55px;
    .image-wrapper {
      height: 130px;

      img {
        // width: 80%;
        height: 90%;
        display: block;
        margin: 5px auto;
      }
    }
  }
}

//modal for items
.modal.store-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  text-align: center;

  .modal__body {
    position: relative;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

//CSS ANIMATIONS
.fade-in-enter {
  opacity: 0;
}
.fade-in-enter-active {
  opacity: 1;
}
.fade-in-exit {
  opacity: 1;
}
.fade-in-exit-active {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  #store-screen {
    // padding: 15px;
    .player-stats-container {
      top: -70px;
    }
    .store-item-container {
      grid-template-columns: 1fr !important;
      gap: 4px;
      article {
        margin: 10px 25px;
      }
    }
  }
}
