.game-queue-wrapper {
  position: relative;
  text-align: center;
  .queue-item__icon {
    position: relative;
    height: 32px;
    display: flex;
    justify-content: center;
    margin: 0 auto 10px;

    svg {
      height: 100%;
    }

    .vertical-line {
      border-right: 2px dashed #ffffffb3;
    }

    svg {
      display: block;
      color: #ffffff;
      fill: #fff;
    }
  }

  .title {
    font-size: 12px;
    opacity: 0.8;
  }
  .user {
    font-size: 14px;
  }
  //

  &.two-user {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .queue-item {
      position: relative;
      background-color: #2e3136;
      z-index: 10;
      // padding: 0 8px;
      &:nth-child(1) {
        padding-right: 12px;
      }
      &:nth-child(3) {
        padding-left: 12px;
      }
    }
    .queue-item__icon {
      // margin: 0 auto 10px;
      .vertical-line,
      svg {
        height: 100%;
      }

      .vertical-line {
        border-right: 2px dashed #ffffffb3;
      }

      svg {
        display: block;
        color: #ffffff;
        fill: #fff;
      }
    }
    .line {
      z-index: 1;
      position: absolute;
      width: 100%;

      &.hortizontal {
        border-bottom: 2px dashed #ffffff;
        border-width: 2;
        bottom: 20px;
        left: 0;
      }
    }
  }

  &.coming-soon {
    padding: 10px;
    .title {
      font-size: 13px;
    }
  }
}
