#profile-image {
  position: relative;
  // width: 54px;
  // height: 54px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-right: 15px;
  // margin-left: -45px;
  // margin: 0 auto;
  background-color: gray;
  svg {
    fill: #fff !important;
    color: #fff !important;
    height: 80%;
    display: block;
  }
  img {
    width: 100%;
  }
  h3 {
    color: #ffffff;
  }
}
