.header-profile__level {
  // width: 45px;
  // width: 64px;
  width: 54px;
}
.header-profile-dropdown-container {
  // position: relative;
  border-radius: 2px;
  overflow: hidden;
  // min-width: 220px;
  // width: 220px;
  .header-profile-wrapper {
    color: #ffffff;
    position: relative;
    cursor: pointer;
    padding: 4px 10px;
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    transition: 200ms ease;
    &:hover {
      background: var(--purpleSecondary);
    }

    .header-profile__content {
      position: relative;
      display: flex;
      // align-items: center;
      padding-right: 16px;
      padding-left: 10px;
      flex-direction: column;
      // margin-left: 8px;
      justify-content: center;
      .profile__name {
        position: relative;
        text-align: left;
        h2 {
          font-weight: 500;
          // margin-left: 1px;
          font-size: 18px !important;
        }
      }

      #points-and-credits {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 4px;
        font-size: 11px;
        .stat-item-wrapper:nth-child(-n + 2) {
          margin-right: 6px;
          padding-right: 6px;
          border-right: 1px solid #ffffff70;
        }
        .player-stats__value {
          font-weight: bold;
          margin-left: 4px;
          // width: 80px;
          // text-align: center;
        }
        // font-size: 14px;
      }
    }
    .down-arrow-wrapper {
      position: relative;
      margin-top: 10px;
      svg {
        color: #ffffff;
        height: 14px;
        display: block;
      }
    }
  }
  .dropdown-container__links {
    position: absolute;
    display: block;
    width: 100%;
    background: var(--purpleSecondary);
    left: 0;
    top: 100%;
    z-index: 1111111111;
    ul {
      position: relative;
      margin-top: 8px;
      li {
        list-style: none;

        .nav-link-item {
          padding: 12px 25px;
          font-size: 13px;
          display: flex;
          text-decoration: none;
          align-items: center;
          color: #ffffff;
          width: 100%;
          cursor: pointer;
          &:hover {
            background-color: var(--purpleAccent);
          }
        }
        svg {
          width: 14px;
          color: #ffffff;
          fill: #ffffff;

          margin-right: 10px;
          display: block;
        }
      }
    }
  }
}
