.app-body-wrapper {
	// display: grid;
	// grid-template-columns: 150px 1fr;
	height: 90vh;
}

main {
	// max-width: 1310px;
	// margin: 0 auto;
	margin-top: 15px;
	// width: 100%;
	overflow: hidden;
	margin-left: var(--sideNavWidth);

	height: 100%;
	// border-radius: 20px;
	// height: 100vh;
	// display: grid;
	// grid-template-columns: 1fr minmax(auto, 365px);
	// min-height: 100%;
	// max-width: 1310px;
	// margin: 0 auto;
	// box-shadow: 0 0 0px 3px #0000000e;
	// margin-top: 20px;
	// background: var(--blackSeconday);
	// min-height: 90vh;
	//////
	// display: grid;
	// grid-template-columns: 1fr minmax(auto, 365px);
	// width: 100%;
	.outer-content-wrapper {
		height: 100%;
		padding: 10px;
	}
}

@media only screen and (max-width: 600px) {
	main {
		padding: 0px !important;
		margin: 0;
	}
}
