.app_body_wrapper {
  // min-height: 90vh;
  position: absolute;
  top: var(--headerHeight);
  width: 100%;
  height: calc(100% - var(--headerHeight));
  main {
    overflow-y: auto;
    position: fixed;
    width: calc(100% - var(--sideNavWidth));
    top: var(--headerHeight);
    height: calc(100% - var(--headerHeight));
    & > div {
      height: 100%;
      // padding-top: 30px;
      // height: calc(100% - 30px);
      // margin-top: 30px;
      // padding: 10px 0;
      // padding: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .app_body_wrapper {
    main {
      padding: 0 !important;
      margin: 0 !important;
      left: 0 !important;
      width: 100% !important;
    }
  }

  // .player-stats-container {
  //   justify-content: space-between !important;
  //   #level progress {
  //     width: 80px !important;
  //   }
  // }
}
