header {
  position: fixed;
  width: 100%;
  text-align: center;
  background: #593a8a;
  background: -webkit-linear-gradient(to right, #6e48aa, #593a8a);
  background: linear-gradient(to right, #6e48aa, #593a8a);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
  .header__top-row {
    height: var(--topHeaderHeight);
    // height: inherit;
    width: 100%;
    padding: 0 10px;
    .outer-content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .mobile-button-wrapper {
        display: flex;
        .mobile-button.active {
          position: relative;
          &::after {
            content: '';
            height: 8px;
            background: #a188c9;
            width: 100%;
            position: absolute;
            bottom: -8px;
            left: 0;
            border-radius: 4px;
          }
        }
      }
    }
    #logo {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        display: inline-block;
        height: 36px;
        color: #ffffff;
        fill: #ffffff;
      }
    }

    .user-actions-container {
      position: relative;

      display: flex;
      button#profile-dropdown-button {
        background-color: transparent;
        border: none;

        display: flex;
        align-items: center;
        width: 130px;
        border: 1px solid #ffffff;
        padding: 8px 16px;
        border-radius: 2px;
        font-size: 14px;
        fill: #fff;
        cursor: pointer;
        transition: 100ms;
        &:hover {
          background-color: #fff;
          color: var(--purplePrimary);
          fill: var(--purplePrimary);
        }
        .sign-in-icon-wrapper svg {
          height: 18px;
          fill: inherit;
          width: 34px;
          display: block;
        }
        #header-notification-button {
          // position: absolute;
          width: 150px;
          display: inline-block;
        }

        .credit-wrapper {
          position: relative;
          // displapurplesecondaryy: flex;
          align-items: center;
          justify-content: center;
          svg {
            display: block;
            height: 28px;
          }
        }
      }

      #header-profile-button {
        // top: 50%;
        // transform: translateY(-50%);
        min-width: 180px;
        width: 100%;
        display: inline-block;
      }
    }
  }

  .header__bottom-row {
    position: relative;
    background-color: var(--purpleSecondary);
    width: 100%;
    display: flex;
    height: var(--subHeaderHeight);
    box-shadow: 0px 3px 2px 1px #00000038;
  }

  .icon-wrapper {
    padding: 14px;
    svg {
      display: block;
      height: 22px;
      color: #ffffff;
      fill: #ffffff;
    }
  }
  .hamburger-icon-wrapper {
    display: flex;
    align-items: center;
    z-index: 1111111111111111;
    .hamburger-react {
      display: inline-block;
      height: 16px;
      color: #ffffff;
      fill: #ffffff;
      z-index: 1111111111111111;
    }
    svg {
      display: inline-block;
      height: 20px;
      color: #ffffff;
      fill: #ffffff;
    }
  }
}
@media only screen and (max-width: 600px) {
  header .header__top-row #logo svg {
    height: 28px !important;
  }
}
