header {
	position: relative;
	width: 100%;
	text-align: center;
	background: #593a8a;
	background: -webkit-linear-gradient(to right, #6e48aa, #593a8a);
	background: linear-gradient(to right, #6e48aa, #593a8a);
	padding: 10px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	.header-inner-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		a {
			display: flex;
			text-decoration: none;
		}
		.logo {
			font-family: 'East Sea Dokdo', cursive;
			font-size: 36px;
			line-height: 0;
			color: #ffffff;
			line-height: 11px;
			color: #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;
			.logo__icon {
				position: relative;
				display: inline-block;
				margin-right: 8px;
				svg {
					display: inline-block;
					height: 20px;
					color: #ffffff;
					fill: #ffffff;
				}
			}
		}
	}
	.sign-in-icon-wrapper {
		padding: 14px;
		svg {
			display: block;
			height: 24px;
			color: #ffffff;
		}
	}
	.hamburger-icon-wrapper {
		// position: absolute;
		display: flex;
		// right: 5px;
		// right: 15px;
		// top: 50%;
		transform: translateX(5px);
		// transform: translateY(-50%);
		// -webkit-transform: translateY(-50%);
		// -moz-transform: translateY(-50%);
		// -ms-transform: translateY(-50%);
		// -o-transform: translateY(-50%);
		.hamburger-react {
			display: inline-block;
			height: 16px;
			color: #ffffff;
			fill: #ffffff;
		}
		svg {
			display: inline-block;
			height: 20px;
			color: #ffffff;
			fill: #ffffff;
		}
	}
	.test-btn {
		position: absolute;
		font-size: 12px;
		top: 15px;
		right: 15px;
	}
}
