.player-stats-container {
  position: absolute;
  // top: 0px;
  bottom: 0px;
  // left: 50%;
  width: 100%;
  // max-width: 353px;
  // transform: translateX(-50%);
  padding: 0 15px;
  // border-radius: 2px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  // height: 100%;
  // background: #111111;
  // background: #2e3136;
  // box-shadow: 0 0 4px 0px #191919ad;
  /* border-radius: 2px; */
  z-index: 1111111111111111200;
  // margin: 0 auto;
  /* margin: 30px; */
  padding: 5px;
  transition: 600ms;
  &.playing {
    top: 92px;
  }

  .user-info-item {
    padding-left: 8px;
    // padding-right: 4px;
    border-radius: 50px;
    &#points {
      display: flex;
      align-items: center;
      font-weight: bold;
      background: var(--gold);
      color: #111111;
      .user-info-item__title {
        padding-right: 8px;
        padding-left: 3px;
      }
      .user-info-item__value {
        font-weight: bold;
        background-color: var(--goldSecondary);
      }
    }
    .user-info-item__title {
      // padding-right: 4px;
    }
    .user-info-item__value {
      font-weight: 500;
      padding: 5px 8px;
    }
    span {
      font-size: 11px;
      border-radius: 50px;
      // padding: 5px 10px;
    }
  }
  .game-plays-container {
    display: flex;
    .user-info-item__title {
      padding-right: 4px;
    }
    .user-info-item__value {
      background: var(--purpleSecondary);
      // background: #684778;
      // background: #373042;
    }

    > div {
      background: #7a61a18a;
      // background: var(--purplePrimary);
      // background: #4b3d60;
      display: flex;
      align-items: center;
    }

    #freeplay-credits {
      margin-left: 8px;
    }
  }
}
