.depth-button-container {
  position: relative;
  margin: 0 6px;
  .button-inner-wrapper {
    display: flex;
  }
  button {
    background: transparent;
    border: none;
  }
  .aws-btn {
    --button-raise-level: 4px;
  }
}
