#claw-customization-screen {
  position: relative;
  .outer-content-wrapper {
    padding: 0;
  }
  .claw-customization-container {
    display: grid;
    // grid-template-columns: 5fr 3.5fr;
    grid-template-columns: 5fr minmax(min-content, 450px);
    gap: 30px;
    margin-top: 14px;
    .bordered-box {
      position: relative;
      background-color: #2e2e2e;
      border: 3px solid #ffffff;
      // margin: 10px;
      padding: 20px 15px;
      height: fit-content;
      h2 {
        font-weight: 600;
        padding: 8px;
        font-size: 18px;
      }
      h3 {
        padding: 8px;
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
      }
      .table-container {
        position: relative;
        // margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        display: grid;
        transition: 200ms ease;
        .table-item {
          position: relative;
          margin: 5px;
          display: inline-block;
          background-color: #464141;
          border: 1px solid #707070;
          border-radius: 2px;
          padding: 3px;
          // width: 50px;
          cursor: pointer;
          height: 80px;
          flex-basis: 60px;
          flex-grow: 1;
          flex-shrink: 1;
          .table-item__initials {
            // font-size: 11px;
            font-weight: bold;
          }
          .table-item__icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            svg {
              display: block;
              height: 30px;
              margin: 0 auto;
              opacity: 0.4;
            }
          }
          .table-item__time-remaining {
            font-size: 10px;
            opacity: 0.8;
            position: absolute;
            bottom: 2px;
            right: 5px;
            svg {
              height: 12px;
            }
          }
        }
        .strong-claw {
          background-color: #d59c16;
          color: #010101;
        }
        .laser {
          background-color: #01ff12;
          color: #010101;
          box-shadow: 0 0 3px 1px #01ff125e;
        }
        .time {
          background-color: #a57deb;
          color: #010101;
        }
        .speed {
          background-color: #da6f9c;
          // background-color: ##d05287;
          color: #010101;
        }
      }
    }

    //1st column
    #inventory {
      position: relative;
      .table-container {
        // grid-template-columns: repeat(7, 1fr);
        grid-template-columns: repeat(6, 1fr);
        // grid-template-columns: repeat(10, 1fr);
      }
      .expand-arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0px;
        .arrow-wrapper {
          &.rotate {
            transform: rotate(180deg);
          }
        }
        svg {
          height: 20px;
        }
      }
    }

    //2nd column
    #user-claw {
      position: relative;
      display: grid;
      grid-template-columns: 5fr 2fr;
      overflow: hidden;
      .table-container {
        grid-template-columns: 1fr 1fr 1fr;
      }
      .user-claw__stats {
        position: relative;
        #applied-items {
          position: relative;
          padding-bottom: 10px;
          margin-bottom: 15px;
          border-bottom: 1px dashed #707070;
          .applied-item-group-titles {
            border-bottom: 1px solid #707070;
            display: flex;
            .applied-item__title {
              position: relative;
              cursor: pointer;
              h3 {
                margin-bottom: 5px;
              }
              &.active {
                position: relative;
                &:after {
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: white;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  border-radius: 20px;
                }
              }
            }
          }
          .applied-item {
            font-size: 14px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .applied-item__type {
              font-weight: 600;
            }

            .applied-item__value {
              display: flex;
              align-items: center;
              .value {
                margin-left: 5px;
              }
            }

            &.applied-grip {
              progress::-webkit-progress-value {
                background-color: #d59c16;
              }
            }
            &.applied-time {
              progress::-webkit-progress-value {
                background-color: #9263e3;
              }
            }
            &.applied-speed {
              progress::-webkit-progress-value {
                background-color: #da6f9c;
              }
            }
          }
        }
      }
      .user-claw__image-preview {
        position: relative;
        display: block;
        transform: translate(15px, -20px);
        // z-index: 100;
        img {
          position: relative;
          display: block;
          z-index: 100;
          width: 100%;
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          top: 40px;
          left: 46%;
          width: 1px;
          height: 100%;
          background: #00ff08;
          box-shadow: 0 0 6px 3px #00ff0845;
          border-radius: 30px;
        }
      }
    }
  }
  progress {
    // height: 100%;
    color: lightblue;
    transition: 900ms linear;
    -webkit-transition: 900ms linear;
    -moz-transition: 900ms linear;
    -ms-transition: 900ms linear;
    -o-transition: 900ms linear;
    border-radius: 50px;
  }

  progress::-webkit-progress-value {
    background: lightblue;
  }

  progress::-moz-progress-bar {
    background: lightcolor;
  }

  progress::-webkit-progress-value {
    transition: 900ms ease;
    background-color: #9686af;
    border-radius: 50px;
  }

  // .warning {
  // 	position: relative;
  // 	progress::-webkit-progress-value {
  // 		background-color: yellow !important;
  // 	}
  // }

  progress::-webkit-progress-bar {
    border-radius: 50px;
    background: #c7c7c7;
  }
}

@media only screen and (max-width: 1350px) {
  #inventory {
    position: relative;
    .table-container {
      // grid-template-columns: repeat(7, 1fr);
      grid-template-columns: repeat(4, 1fr) !important;
      // grid-template-columns: repeat(10, 1fr);
    }
  }
}
@media only screen and (max-width: 1050px) {
  #claw-customization-screen .claw-customization-container {
    grid-template-columns: 1fr;
  }
  #inventory {
    position: relative;
    .table-container {
      // grid-template-columns: repeat(7, 1fr);
      grid-template-columns: repeat(6, 1fr) !important;
      // grid-template-columns: repeat(10, 1fr);
    }
  }
}
@media only screen and (max-width: 600px) {
  #claw-customization-screen {
    .claw-customization-container {
      grid-template-columns: 1fr;
      padding: 10px;
      #user-claw {
        grid-template-columns: 1fr;
        .user-claw__image-preview {
          display: none;
        }
      }
    }
  }
  #inventory {
    height: 95px;
    overflow: hidden;

    .table-container {
      // grid-template-columns: repeat(7, 1fr);
      grid-template-columns: repeat(3, 1fr) !important;
      // grid-template-columns: repeat(10, 1fr);
      &.expanded {
        height: 370px !important;
      }
    }
  }
}
