.title-description-container {
  position: relative;
  // margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  // background: linear-gradient(transparent, #00000017);
  .text-wrapper {
    // transform-style: preserve-3d;
    // transition: all 500ms ease-in;
    // transform: rotateY(-20deg) rotateX(40deg) rotateZ(0deg);
    h2 {
      // padding: 0 10px;
      font-weight: 600;
      font-size: 22px;
    }
    p {
      margin-top: 10px;
      font-size: 15px;
    }
    .inline-number {
      font-weight: 500;
      margin: 0px 6px;
      padding: 0px 3px;
      color: #ffffff;
      border-radius: 2px;
      color: var(--purpleSecondary);
      border: 1px solid var(--purpleSecondary);
    }
  }
}

@media only screen and (max-width: 600px) {
  .title-description-container {
    h2 {
      font-size: 18px !important;
    }
    p {
      font-size: 13px !important;
    }
  }
}
