#profile-image {
	position: relative;
	// width: 54px;
	// height: 54px;
	border-radius: 50px;
	overflow: hidden;
	border: 1px solid #dedede42;
	display: block;
	// margin-right: 15px;
	// margin-left: -45px;
	// margin: 0 auto;
	img {
		width: 100%;
	}
}
