#user-profile-section {
	position: relative;
	text-align: center;
	h2 {
		text-align: left;
	}
	h3 {
		// font-weight: 500;
	}
	.profile-header {
		position: relative;
		border-bottom: 1px solid #dedede2b;
		display: flex;
		justify-content: space-between;
		padding: 15px 0;
		margin-bottom: 25px;
		.profile-details {
			position: relative;
			display: flex;
			justify-content: center;
			// flex-direction: column;
			align-items: center;
			.profile-name {
				font-size: 18px;
				margin-left: 10px;
				text-transform: capitalize;
				h3 {
					padding-left: 3px;
				}
			}
			.credits-wrapper {
				font-size: 14px;
				margin-top: 5px;
				display: flex;
				align-items: center;
				font-weight: 400;
				color: var(--goldSecondary);
				svg {
					margin-right: 5px;
					height: 14px;
					display: block;
					fill: var(--goldSecondary);
				}
			}
		}

		.settings-wrapper {
			// position: absolute;
			// top: 10%;
			// right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			svg {
				fill: #ffffff;
				width: 20px;
				height: 20px;
				display: block;
			}

			button {
				margin-top: 8px;

				left: 50%;
			}
		}
	}
	.logout-button {
		font-size: 13px;
		button {
			display: block;
			margin: 0 auto;
			padding: 6px 10px !important;
			margin-top: 30px;
		}
	}
}

#profile-stats-container {
	position: relative;
	display: flex;
	// margin-top: 15px;
	justify-content: space-around;
	color: #ffffff;
	.profile-stat-wrapper {
		position: relative;
		width: 60px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		// font-weight: 500;
		// color: #3c3c3c;

		.icon {
			position: relative;
			svg {
				height: 24px;
				display: block;
				fill: white;
			}
		}
		.title {
			// margin: 1em 0 .5em;
			// font-style: 15px;
			margin: 10px 0;
			font-size: 14px;
			font-weight: 400;
		}

		.value {
			font-size: 16px;
			font-weight: 600;
		}
	}
}
