.dropdown-button-container {
	// position: relative;
	border-radius: 2px;
	overflow: hidden;

	.header-profile-wrapper {
		color: #ffffff;
		position: relative;
		cursor: pointer;
		padding: 4px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: 200ms ease;
		&:hover {
			background: var(--purpleSecondary);
		}

		.header-profile__content {
			position: relative;
			display: flex;
			align-items: center;
			h2 {
				font-weight: 500;
				margin-left: 1px;
				font-size: 14px !important;
			}
			.text-wrapper {
				position: relative;
				text-align: left;
				margin-left: 8px;
				.description {
					margin-top: -2px;
					font-size: 11px;
					opacity: .8;
					// font-weight: bold;
					span {
						font-size: 11px;
						margin-right: 4px;
					}
				}
				// &:after {
				// 	content: '';
				// 	position: absolute;
				// 	height: 50%;
				// 	transform: translateY(50%);
				// 	width: 1px;
				// 	background-color: var(--purpleAccent);
				// }
			}
		}
		.down-arrow-wrapper {
			position: relative;
			svg {
				color: #ffffff;
				height: 14px;
				display: block;
			}
		}
	}
	.dropdown-container__links {
		// position: absolute;
		display: block;
		width: 100%;
		background: var(--purpleSecondary);
		left: 0;
		top: 100%;
		z-index: 1111111111;
		ul {
			position: relative;
			margin-top: 8px;
			li {
				list-style: none;
				font-size: 13px;
				padding: 10px 25px;
				cursor: pointer;
				// padding: 10px 0;
				&:hover {
					background-color: var(--purpleAccent);
				}
				svg {
					width: 14px;
					color: #ffffff;
					fill: #ffffff;

					margin-right: 10px;
					display: block;
				}
			}
		}
	}
}
