#leaderboards-screen {
  position: relative;

  .leaderboard-screen-content-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .leaderboards-table {
    flex-basis: 100%;
    max-width: 665px;
    background: #3e3e3e21;

    #leaderboard__header {
      background: #3e3e3e;
    }

    .leaderboard-row {
      display: grid;
      grid-template-columns: 80px 1fr 60px;
      padding: 15px;

      &:nth-child(odd) {
        background-color: #3e3e3e69;
      }

      & > div {
        display: flex;
        align-items: center;
      }
    }

    .leaderboard-item {
      position: relative;

      .leaderboard-row__rank {
        .rank {
          width: 16px;
          margin-right: 10px;
        }
      }

      .leaderboard-row__user {
        display: flex;
        align-items: center;
      }

      .leaderboard-row__score {
        display: flex;
        align-items: center;
      }
    }
  }

  #leaderboard-user {
    display: flex;
    align-items: center;

    .leaderboard__user-details {
      width: 100%;
      margin-left: 15px;

      div {
        display: flex;
        align-items: center;
      }

      .leaderboard-row__score {
        text-align: left;
      }
    }
  }
}
