.spectator-information-container {
  background-color: var(--gold);
  position: absolute;
  top: 0px;
  // top: 10px;
  left: 10px;
  padding: 8px 10px;
  // width: 90px;
  // border-radius: 50px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  // flex-direction: column;
  display: flex;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  .que-icon-wrapper {
    display: inline-block;
    // margin: 5px;
    font-size: 14px;
    &:nth-child(2) {
      margin-left: 10px;
      padding-left: 10px;
      border: none;
      border-left: 1px solid var(--goldAccent);
    }
    span {
      display: inline;
    }
    svg {
      height: 13px;
      margin-right: 4px;
      margin-bottom: -2px;
    }

    .number {
      font-weight: 500;
      margin-left: 4px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .que-icon-wrapper {
    font-size: 11px !important;
  }
}
