#content-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
  padding-top: 35px;
  overflow-y: auto;
  overflow-x: hidden;
  .inner-wrapper {
    width: 100%;
    max-width: 680px;
    display: block;
    margin: 0 auto;
  }
  .table {
    font-size: 14px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      font-size: 14px;
    }
  }
  .dynamic-number span:first-child {
    margin-right: 5px;
  }
  .sign-in-prompt {
    display: block;
    margin: 30px auto;
    text-align: center;
  }

  #player-queue-section {
    // flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 280px;
  }

  #main-display-section {
    width: 100%;
    text-align: center;

    #controls-section {
      flex-basis: 100%;
    }
  }
}

// @media only screen and (max-width: 600px) {
// 	.main-display__bottom-section {
// 		min-height: 50vh;
// 	}
// }
