.image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  // display: grid;
  // grid-template-columns: 180px 1fr;
}
