.slots {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  button {
    border: 1px solid white;
    cursor: pointer;
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 600px) {
  #content-section {
    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  #content-section {
    padding: 20px 0;
  }
}
