.game-chat-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  // cursor: pointer;
  padding-top: 10px;
  // border-top-right-radius: 20px;
  // border-top-left-radius: 20px;
  text-align: center;
  box-shadow: var(--boxShadow3);
  //flex-grow: 1;
  border: 1px solid rgb(65, 65, 65);
  background: #2b2e32;
  transform: translateX(-50%);
  transition: 200ms;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);

  .game-chat__header {
    background: #34373c;
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    // border-top-right-radius: 18px;
    // border-top-left-radius: 18px;
    .discord__logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      svg {
        fill: #ffffff;
        width: 140px;
      }
    }
  }
  .header-arrow {
    position: absolute;
    right: 10px;
    top: 13px;
    background: #34373c;
    padding: 14px;
    border-radius: 50px;
    svg {
      height: 16px;
      display: block;
    }
  }

  .game-chat__body {
    position: absolute;
    top: 70px;
    height: calc(100% - 70px);
    // background: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .body__messages {
      // background: green;
      height: 100%;
      overflow-y: scroll;
    }
    .body__message-composer {
      height: 60px;
      background: rgb(75, 75, 75);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      .message-composer__message {
        position: relative;
        flex-grow: 1;
        input {
          border: none;
          background-color: gray;
          border-radius: 50px;
          padding: 10px;
          width: 100%;
        }
      }
      .message-composer__send-button {
        margin-left: 10px;
        input {
          background-color: #7a61a1;
          border: none;
          color: #fff;
          padding: 10px 18px;
          border-radius: 50px;
        }
      }
    }
  }

  .discord__logo-wrapper {
    position: relative;
    svg {
      fill: white;
      width: 140px;
      display: block;
      margin: 5px auto;
      transition: 400ms ease;
      -webkit-transition: 400ms ease;
      -moz-transition: 400ms ease;
      -ms-transition: 400ms ease;
      -o-transition: 400ms ease;
    }
  }
  .link-wrapper {
    padding: 6px 0;
    a {
      color: white;
      font-size: 14px;
    }
  }
  p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    padding: 3px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  .iframe-wrapper {
    height: 100%;

    iframe {
      height: 100%;
      display: block;
      transition: 400ms ease;
      -webkit-transition: 400ms ease;
      -moz-transition: 400ms ease;
      -ms-transition: 400ms ease;
      -o-transition: 400ms ease;
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  // border-radius: 10px;
  border-left: 1px solid gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #484747;
  // border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #484747;
}
