.game-chat-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: 200ms;

  .game-chat__header {
    background: #34373c;
    width: 100%;
    height: 80px;
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 0px 4px 2px #00000017;
    .title {
      font-size: 13px;
    }
  }
  .header-arrow {
    position: absolute;
    right: 10px;
    top: 13px;
    background: #34373c;
    padding: 14px;
    border-radius: 50px;
    svg {
      height: 16px;
      display: block;
    }
  }

  .game-chat__body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .no-messages {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      opacity: 0.55;
      padding: 30px;
      font-size: 15px;
      flex-direction: column;
    }
    .body__messages {
      height: 100%;
      overflow-y: scroll;
      overflow-anchor: none;
      background: #2e3136;

      .message-anchor {
        overflow-anchor: auto;
        height: 1px;
      }
    }
    .body__message-composer {
      height: 65px;
      background: rgb(75, 75, 75);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      .message-composer__message {
        position: relative;
        flex-grow: 1;
        input {
          border: none;
          background-color: #2d2e31;
          border-radius: 50px;
          padding: 0 10px;
          height: 32px;
          color: #fff;
          width: 100%;
          color: rgb(255, 255, 255);
          font-size: 13px;
          // cursor: pointer;
          font-family: var(--jost);
          font-weight: 500;
          &::placeholder {
            // color: rgba(28, 28, 28, 0.688);
            color: #ffffffb4;
            font-size: 13px;
            font-family: var(--jost);
          }
        }
      }
      .message-composer__send-button {
        margin-left: 10px;

        height: 32px;
        font-size: 13px;
        cursor: pointer;
        background-color: #7a61a1;
        border: none;
        color: #fff;
        padding: 0 18px;
        border-radius: 50px;
      }
    }
  }

  .link-wrapper {
    padding: 6px 0;
    a {
      color: white;
      font-size: 14px;
    }
  }
  p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    padding: 3px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
  // background-color: rgb(193, 193, 193);
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  // border-radius: 10px;
  // border-left: 1px solid gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #686868;
  width: 8px;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}
