.svg-map-container {
  // padding: 5px 0;
  // border-bottom: 1px solid #dddddd;
  // display: flex;
  position: relative;
  // max-height: 95vh;
  svg {
    // height: 95vh;
    // margin-top: -55px;
    // margin-bottom: -60px;
    path.rsm-geography {
      outline: none;
    }
    // border-bottom: 1px solid #dddddd;
    g {
      cursor: pointer;
    }
    text {
      font-size: 8px;
    }
  }
  .map-content-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      text-shadow: 1px 1px 5px #ffffff;
      margin-bottom: 0;
    }
  }
}
.three-col {
  grid-template: '1fr 1fr 1fr';
}
.two-col {
  grid-template: '1fr 1fr';
}

.location-detail-container {
  position: absolute;
  top: 10%;
  left: 13%;
  // bottom: 30px;
  // right: 15px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.801);
  font-size: 13px;
  border: 1px solid var(--borderColor);
  padding: 10px;
  h3 {
    font-weight: bold;
    font-size: 14px;
  }
  #cross-wrapper {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 15px;
      background-color: #757575;
      left: 50%;
      transform: translateX(-50%) rotate(-45deg);
    }
    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 15px;
      background-color: #757575;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

@media only screen and (max-width: 900px) {
  .svg-map-container {
    button {
      // margin: 10px 0 !important;
      font-size: 12px;
    }
    h2 {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .location-detail-container {
    top: 70px !important;
    right: 15px !important;
    left: unset;
  }

  .icon-scale {
    transform: scale(1.4) translate(-12px, -23px);
  }
  .svg-map-container svg {
    // margin-top: 55px;
    // margin-bottom: -23px;
  }
}
