#player-queue-section {
	padding-top: 20px;
	border-right: 1px solid #dedede;
	-webkit-border-right: 1px solid #dedede;
	-moz-border-right: 1px solid #dedede;
	-ms-border-right: 1px solid #dedede;
	-o-border-right: 1px solid #dedede;
	height: 100%;
	h3 {
		font-size: 18px;
		text-align: center;
	}
}
