.redemption-wrapper {
  // position: relative;
  button {
    margin-top: 15px;
  }

  .highlighted-item {
    font-weight: bold;
    margin: 0 4px;
    color: var(--purplePrimary);
  }

  &.redemption-wrapper {
    position: relative;
    .icon-wrapper {
      position: relative;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      padding-bottom: 25px;
      svg {
        display: block;
        height: 50px;
        fill: var(--purplePrimary);
      }
    }

    .confirmation-email-container {
      padding: 25px 0 0;
      .confirmation-email {
        font-weight: bold;
        color: var(--purplePrimary);
        background-color: #593a8a21;
        padding: 16px;
        width: fit-content;
        margin: 0 auto;
        margin-top: 15px;
      }
      button {
        text-decoration: underline;
        // color: var(--purplePrimary);
        cursor: pointer;
      }
    }
  }
  &.redemption--confirmation {
    position: relative;

    img {
      width: 100%;
      max-width: 230px;
      height: auto;
      display: block;
      margin: 0 auto 30px;
    }

    .button-wrapper {
      display: flex;
      justify-content: space-evenly;
      margin-top: 15px;
      flex-wrap: wrap;
      .ghost--white {
        border: 1px solid var(--purplePrimary);
        color: var(--purplePrimary) !important;
        &:hover {
          color: #ffffff !important;
        }
      }
    }
  }
}
