nav.header-nav-links-container {
  display: flex;
  // flex-direction: column;
  flex-basis: 100%;
  ul {
    display: flex;
    width: 100%;
    li.nav-link-item {
      // width: 100%;
      list-style: none;
      text-align: center;
      // width: 100%;
      // margin-bottom: 10px;

      display: inline-block;
      a {
        width: 100%;
        padding: 12px 30px;
        font-size: 14px;
        text-decoration: none;
        margin: 0 auto;
        color: #fff;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        &.nav-link__active {
          position: relative;
          transition: 250ms;
          // font-weight: 600;
          // background-color: var(--purplePrimary);
          background: rgb(124, 99, 163);
          background: -moz-linear-gradient(180deg, rgba(124, 99, 163, 1) 0%, rgba(164, 139, 203, 1) 100%);
          background: -webkit-linear-gradient(180deg, rgba(124, 99, 163, 1) 0%, rgba(164, 139, 203, 1) 100%);
          background: linear-gradient(180deg, rgba(124, 99, 163, 1) 0%, rgba(164, 139, 203, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7c63a3",endColorstr="#a48bcb",GradientType=1);
          &:after {
            content: '';
            width: calc(100% + 2px);
            height: 4px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: -1px;
            border-radius: 40px;
          }
        }
        .icon-wrapper svg {
          display: block;
          margin: 0 auto;
          height: 16px;
          margin-bottom: 4px;
        }

        &:hover {
          color: rgba(255, 255, 255, 0.811);
        }
      }
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }
}
