form {
	width: 100%;
}

.form-control {
	position: relative;
	margin: 1.8rem 0;
	label {
		position: absolute;
		top: 13px;
		left: 15px;
		font-size: 16px;
		transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
		pointer-events: none;
		.label-text {
			z-index: 10;
			position: relative;
		}
		&:after {
			content: '';
			background-color: #ffffff;
			width: 97%;
			height: 9px;
			position: absolute;
			left: 0;
			top: 5px;
			z-index: 1;
		}
	}

	.label--float {
		top: -11px !important;
		left: 15px;
		// left: 15px;
		// font-size: 0.8em;
		padding: 0 5px;
	}

	input,
	textarea {
		border: 1px solid #b8b8b8;
		padding: 13px;
		// padding: 13px 13px 13px 10px;
		border-radius: 2px;
		width: 100%;
		&:focus {
			outline: none;
			background: #ffffff;
			border-color: #b2b3b8;
			// border-color: var(--blue);
		}
		&::placeholder {
			font-size: 12px;
		}
	}

	label,
	input,
	textarea {
		font-size: 14px;
		display: block;
		color: #333;
	}

	.input-wrapper {
		position: relative;
	}

	.error {
		// position: absolute;
		color: #ea4335;
		font-size: 12px;
		font-style: italic;
	}
}

.form-control--invalid {
	input {
		border-color: red !important;
	}

	label {
		color: red !important;
	}
}

.form-control--valid {
	input {
		border-color: green;
		// color: green;
		color: #333;
		&:focus {
			border-color: greem !important;
		}
	}

	label {
		color: green;
	}
}

input::not(-webkit-autofill) label {
	background-color: red;
}
