button {
  border-radius: 2px;
  border: none;
  color: inherit;
  line-height: 1.5em;
}
.button {
  // margin-top: 10px;
  padding: 10px 20px;
  font: inherit;
  padding: 0.4rem 1.2rem;
  padding: 12px 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.button--rounded-plus {
  position: relative;
  // bottom: 10px;
  // right: 10px;
  background-color: var(--blue);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  &:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
  }
  &:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}

.button--rounded-full {
  width: 100%;
  background-color: var(--blue);
  color: #ffffff;
  border-radius: 50px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  &:hover {
    background-color: var(--darkBlue);
  }
}
.button--rounded-full-inverse {
  width: 100%;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 50px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  &:hover {
    color: #ffffff;
    background-color: var(--darkBlue);
  }
}

.button--ghost-full {
  background-color: transparent;
  margin: 0 auto;
}

.button:focus {
  outline: none;
}

@media only screen and (min-width: 900px) {
  .mobile {
    font-size: inherit !important;
    color: inherit !important;
    border: inherit !important;
    border-radius: inherit !important;
    background-color: inherit !important;
    text-align: inherit !important;
    display: inherit !important;
    justify-content: inherit !important;
    align-items: inherit !important;
    opacity: inherit !important;
  }
}
