.switch-camera-button-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  button {
    cursor: pointer;
    cursor: pointer;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
    transition: 180ms ease;
    border-left: 1px solid #2e2e2e;
    svg {
      fill: #ffffff;
      height: 24px;
    }
    &:hover {
      // background-color: var(--purplePrimary);
    }
  }
}

@media only screen and (max-width: 600px) {
  .switch-camera-button-container button {
    // width: 36px !important;
    // height: 36px !important;
    svg {
      // width: 14px !important;
    }
  }
}
