#video-feed-section {
  position: relative;
  .timer-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
  }
  canvas {
    width: 100%;
    display: block;
    max-height: 500px;
  }
}
