.sidebar-widget-wrapper {
  position: relative;
  // margin: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .sidebar-widget__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .sidebar-widget__body {
    position: relative;
    flex-grow: 1;
    margin-top: 5px;
    padding: 10px;
    background-color: #2e3136;
    border-radius: 4px;
    overflow: hidden;
  }
}
