// .discord-container {
//   position: absolute;
//   bottom: 0;
//   left: 50%;
//   width: 100%;
//   cursor: pointer;
//   padding-top: 10px;
//   // border-top-right-radius: 20px;
//   // border-top-left-radius: 20px;
//   text-align: center;
//   box-shadow: var(--boxShadow3);
//   //flex-grow: 1;
//   border: 1px solid rgb(65, 65, 65);
//   background: #2b2e32;
//   transform: translateX(-50%);
//   transition: 200ms;
//   -webkit-transform: translateX(-50%);
//   -moz-transform: translateX(-50%);
//   -ms-transform: translateX(-50%);
//   -o-transform: translateX(-50%);

//   .discord__header {
//     background: #34373c;
//     width: 100%;
//     height: 70px;
//     position: absolute;
//     top: 0;
//     // border-top-right-radius: 18px;
//     // border-top-left-radius: 18px;
//     .discord__logo {
//       position: absolute;
//       left: 50%;
//       top: 50%;
//       transform: translate(-50%, -50%);

//       -webkit-transform: translate(-50%, -50%);
//       -moz-transform: translate(-50%, -50%);
//       -ms-transform: translate(-50%, -50%);
//       -o-transform: translate(-50%, -50%);
//       svg {
//         fill: #ffffff;
//         width: 140px;
//       }
//     }
//   }
//   .discord__arrow {
//     position: absolute;
//     right: 10px;
//     top: 13px;
//     background: #34373c;
//     padding: 14px;
//     border-radius: 50px;
//     svg {
//       height: 16px;
//       display: block;
//     }
//   }

//   .discord__logo-wrapper {
//     position: relative;
//     svg {
//       fill: white;
//       width: 140px;
//       display: block;
//       margin: 5px auto;
//       transition: 400ms ease;
//       -webkit-transition: 400ms ease;
//       -moz-transition: 400ms ease;
//       -ms-transition: 400ms ease;
//       -o-transition: 400ms ease;
//     }
//   }
//   .link-wrapper {
//     padding: 6px 0;
//     a {
//       color: white;
//       font-size: 14px;
//     }
//   }
//   p {
//     text-transform: uppercase;
//     font-weight: 500;
//     font-size: 12px;
//     padding: 3px;
//     letter-spacing: 1px;
//     word-spacing: 1px;
//   }

//   .iframe-wrapper {
//     height: 100%;

//     iframe {
//       height: 100%;
//       display: block;
//       transition: 400ms ease;
//       -webkit-transition: 400ms ease;
//       -moz-transition: 400ms ease;
//       -ms-transition: 400ms ease;
//       -o-transition: 400ms ease;
//     }
//   }
// }
