#controls.controls-container {
	position: relative;

	display: flex;
	justify-content: space-around;
	align-items: center;
	// margin-top: 40px;
	button {
		border: none;
	}

	.control-buttons-container {
		margin-top: 20px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}

	button-raise-level .drop-claw-button-container {
		position: relative;
	}
	.button-controls-container {
		position: relative;
		border: none;
		display: flex;
		flex-direction: column;
		transform: translateX(5px);

		-webkit-transform: translateX(5px);
		-moz-transform: translateX(5px);
		-ms-transform: translateX(5px);
		-o-transform: translateX(5px);
		.left-right-row {
			position: relative;
			margin: -25px 0;
			display: flex;
			.control-button-wrapper {
				&:nth-child(1) {
					// transform: translateX(-15px);
					margin-right: 25px;
				}
				&:nth-child(2) {
					margin-left: 25px;
					// transform: translateX(15px);
				}
			}

			svg {
				height: 35px;
			}
		}
		svg {
			height: 30px;
			margin: 0;
		}
		.control-button-wrapper {
			background-color: transparent;
			margin: 8px;

			button {
				width: 60px;
			}
			.aws-btn {
				--button-default-height: 60px;
				--button-default-font-size: 16px;
				--button-default-border-radius: 50px;
				--button-horizontal-padding: 20px;
				--button-raise-level: 4px;
				--button-hover-pressure: 1;
				--transform-speed: 0.175s;
				// --button-primary-color: #1e88e5;
				// --button-primary-color-dark: #1360a4;
				// --button-primary-color-light: #ffffff;
				// --button-primary-color-hover: #187bd1;
				// --button-primary-border: none;
				// --button-secondary-color: #f2f6f9;
				// --button-secondary-color-dark: #1360a4;
				// --button-secondary-color-light: #1e88e5;
				// --button-secondary-color-hover: #e1eaf1;
				// --button-secondary-border: 2px solid #1e88e5;
				// --button-anchor-color: #0e4f88;
				// --button-anchor-color-dark: #072743;
				// --button-anchor-color-light: #ffffff;
				// --button-anchor-color-hover: #0d4a7f;
				// --button-anchor-border: none;
			}
		}
	}
}
