.timer-container {
  position: relative;
  display: block;
  z-index: 11111111111111;
  display: flex;
  justify-content: center;
  svg {
    display: block;
    path {
      // fill: rgba(255, 255, 255, 0.55);
    }
  }
  .time-up {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  .time-wrapper {
    // background-color: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    overflow: hidden;
    .time {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      font-size: 24px;
      justify-content: center;
      align-items: center;
      transform: translateY(0);
      opacity: 1;
      transition: all 0.2s;
      font-weight: bold;
    }

    .time.up {
      opacity: 0;
      transform: translateY(-100%);
    }

    .time.down {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}
