#transparent-game-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #111111, transparent);
  width: 100%;
  height: 200px;
  // z-index: 11111111;
  .content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3rem;
  }
  .button-controls-container {
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 165px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    .left-right-row {
      position: relative;
      margin: -9px 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      .control-button-wrapper {
        &:nth-child(1) {
          margin-right: 25px;
        }
        &:nth-child(2) {
          margin-left: 25px;
        }
      }

      svg {
        height: 30px;
      }
    }
    svg {
      width: 30px;
      margin: 0;
    }
    .control-button-wrapper {
      background-color: transparent;
      margin: 8px;

      button {
        width: 60px;
      }
    }
  }
}

//Drop Claw Button
.drop_claw_button-enter {
  position: absolute;
  transform: translateY(0);
  transform: translate(-50%, 0);
  transition: transform 500ms;
  // transform: translateY(100%);
  // -webkit-transform: translateY(100%);
  // -moz-transform: translateY(100%);
  // -ms-transform: translateY(100%);
  // -o-transform: translateY(100%);
}
.drop_claw_button-enter-active {
  position: absolute;
  transform: translate(-50%, 60px);
  transition: transform 500ms;
}
.drop_claw_button-exit {
  position: absolute;
  transform: translate(-50%, 60px);
  transition: transform 500ms;
}
.drop_claw_button-exit-active {
  position: absolute;
  transform: translate(-50%, 0);
  transition: transform 500ms;
}

@media only screen and (max-width: 600px) {
  #transparent-game-controls {
    padding: 10px !important;
    height: 80px !important;
    .content-wrapper {
      padding: 0 !important;
    }
    .button-controls-container {
      width: 120px;
      .left-right-row svg {
        height: 20px;
      }
      svg {
        width: 20px;
      }
    }
  }
}
